main > .container {
	padding: 70px 15px 20px;
}

.footer {
	background-color: #f5f5f5;
	font-size: 0.9em;
	height: 60px;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

.not-set {
	color: #c55;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
	content: "";
	left: 3px;
	display: inline-block;
	width: 0;
	height: 0;
	border: solid 5px transparent;
	margin: 4px 4px 2px 4px;
	background: transparent;
}

a.asc:after {
	border-bottom: solid 7px #212529;
	border-top-width: 0;
}

a.desc:after {
	border-top: solid 7px #212529;
	border-bottom-width: 0;
}

.grid-view th {
	white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
	padding-top: 7px;
	color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767px) {
	.nav li > form > button.logout {
		display: block;
		text-align: left;
		width: 100%;
		padding: 10px 0;
	}
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
	outline: none;
}

.form-group {
	margin-bottom: 1rem;
}

/* STARS */
.stars-outer {
	display: inline-block;
	position: relative;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.stars-outer::before {
	content: "\f006 \f006 \f006 \f006 \f006";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	/* color: #f8ce0b; */
}

.stars-inner {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
}

.stars-inner::before {
	content: "\f005 \f005 \f005 \f005 \f005";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: #f8ce0b;
}
